/* ------------ Folders ---------------- */

.bio_folder {
    display: none;
    position: fixed;
    width: 600px;
    height: 600px;
    min-height: 320px;
    background: #c5c4c4;
    border: 2px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    outline: 1px solid white;
    overflow: hidden;
    resize: none;
}


.bio_folder .folder_dragbar {
    display: flex;
    position: relative;
    height: 24px;
    width: 100%;
    margin-bottom: 1px;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bio_barname img {
    position: relative;
    width: 16px;
    top: 3px;
    margin-left: 5px;
}

.bio_barname span {
    position: relative;
    font-size: 15px;
    color: white;
    margin-left: 5px;
}

.bio_folder .bio_barbtn {
    margin-right: 4px;
}









.file_tap_container-bio {
    display: flex;
    position: relative;
    margin-top: 12px;
    font-size: 15px;
    margin-left: 9px;
    cursor: default;
}

.file_tap_container-bio p {
    position: relative;
    padding: 0px 8px;
    padding-top: 1px;
    font-size: 13px;
    border: 2px solid black;
    border-top-color: #f0efef;
    border-left-color: #f0efef;
    border-right-color: rgb(53, 52, 52);
    z-index: 1;
    cursor: pointer;
}


.bio_folder .folder_content {
    position: relative;
    top: -3.5px;
    margin: 0 auto;
    width: calc(100% - 8px);
    height: calc(100% - 4px);
    overflow: hidden;
    touch-action: none;
    z-index: 2;
}

@supports (-webkit-touch-callout: none) {
    .bio_folder .folder_content {
        top: -4px
    }
}

.folder_content .folder_content-bio {
    display: block;
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 95px);
    padding: 1rem 1.5rem;
    border: 2px solid rgb(53, 52, 52);
    border-top-color: #f0efef;
    border-left-color: #f0efef;
    margin: 0 auto;
    margin-top: 0;
    background: #c5c4c4;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
}

.folder_content .biotext_container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding-right: 5px;
}

/* Windows 95 style scrollbar for the bio content container */
.folder_content-bio::-webkit-scrollbar {
    width: 16px;
}

.folder_content-bio::-webkit-scrollbar-track {
    background: #c0c0c0;
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
}

.folder_content-bio::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border: 2px solid;
    border-color: #ffffff #000000 #000000 #ffffff;
    box-shadow: inset 1px 1px 0 0 #dfdfdf, inset -1px -1px 0 0 #808080;
}

.folder_content-bio::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
}

.folder_content-bio::-webkit-scrollbar-button {
    background: #c0c0c0;
    border: 2px solid;
    border-color: #ffffff #000000 #000000 #ffffff;
    height: 16px;
}

.folder_content-bio::-webkit-scrollbar-button:vertical:decrement {
    background: #c0c0c0 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M4 2 L1 6 L7 6 Z" fill="black"/></svg>') center no-repeat;
}

.folder_content-bio::-webkit-scrollbar-button:vertical:increment {
    background: #c0c0c0 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M4 6 L1 2 L7 2 Z" fill="black"/></svg>') center no-repeat;
}

.folder_content-bio::-webkit-scrollbar-button:active {
    border-color: #000000 #ffffff #ffffff #000000;
}

.biotext_container p {
    color: #1f1e1e;
    white-space: normal;
}

/* Bio Content Specific Styling */
.who-i-am-tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.who-i-am-tab .bio_img {
    display: block;
    margin: 0 auto 1.5rem auto;
    width: 120px;
    height: auto;
    position: static;
    transform: none;
}

.bio_section {
    margin-bottom: 1.5rem;
    width: 100%;
}

.bio_section_header {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #808080;
    padding-bottom: 2px;
}

.bio_section p {
    font-size: 12px;
    line-height: 1.4;
    color: #1a1a1a;
}

/* Technology Tab Specific Styling */
.technology-tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.technology-tab .tech_img {
    display: block;
    margin: 0 auto 1rem auto;
    width: 100px;
    height: auto;
    position: static;
}

.tech_section {
    margin-bottom: 1.8rem;
    width: 100%;
}

.tech_header {
    font-size: 15px;
    font-weight: bold;
    color: #000080;
    /* Classic Win95 Navy */
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
    border-bottom: 1px solid #808080;
    padding-bottom: 2px;
}

.tech_section:first-of-type .tech_header {
    margin-top: 0.5rem;
}

.tech_prose {
    font-size: 13px;
    line-height: 1.7;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
}

.tech_badges {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 0.5rem;
}

.tech_badges img {
    height: 20px;
    width: auto;
}

.tech_text_container {
    padding: 0;
}

/* Hobby Tab Specific Styling */
.hobby-tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hobby-tab .hobby_img {
    display: block;
    margin: 0 auto 1rem auto;
    width: 100px;
    height: auto;
    position: static;
}

.hobby_section {
    margin-bottom: 1.8rem;
    width: 100%;
}

.hobby_section_accented {
    border-left: 3px solid rgba(0, 0, 128, 0.25);
    /* Muted Win95 Navy */
    padding-left: 1rem;
    margin-left: 2px;
}

.hobby_header {
    font-size: 15px;
    font-weight: bold;
    color: #000080;
    /* Classic Win95 Navy */
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
    border-bottom: 1px solid #808080;
    padding-bottom: 2px;
}

.hobby_header_intro {
    font-size: 17px;
    color: #000;
    border-bottom: 2px solid #000080;
}

.hobby_header_outro {
    font-style: italic;
    color: #444;
}

.hobby_section:first-of-type .hobby_header {
    margin-top: 0.5rem;
}

.hobby_prose {
    font-size: 13px;
    line-height: 1.7;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
}

.hobby_text_container {
    padding: 0;
}

.folder_content-bio .bio_text_1_other {
    position: relative;
    font-size: 12px;
    padding-left: 0;
}

.folder_content-bio .bio_text_1_other span {
    background: rgb(181, 181, 181);
    font-weight: bold;
    padding: 0px 3px;
    color: #292727;
}



.folder_content-bio .bio_text_2 {
    grid-area: bio_text_2;
    height: fit-content;
    font-size: 12px;
    margin-top: -.3rem;
    padding-left: 2.5rem;
    white-space: nowrap;
}




.cv_container {
    grid-area: cv_container;
    display: grid;
    height: fit-content;
    position: relative;
    gap: .6rem;
    left: .5rem;
    top: 1rem;
}

.folder_content-bio a {
    text-decoration: underline;
    color: blue;
    font-weight: bolder;
    font-size: 15px;
}

.folder_content-bio a:hover {
    color: rgb(73, 73, 237);
    text-decoration-color: rgb(73, 73, 237);
}

.bio_btn_container {
    display: flex;
    position: absolute;
    gap: 6px;
    right: 5px;
    margin-top: 6px;

}

.bio_btn_container div {
    position: relative;
    width: 70px;
    text-align: center;
    border: 2px solid black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.bio_btn_container span {
    font-size: 13px;
}

.bio_btn_container .bio_btn_ok {
    border-top-color: #f0efef;
    border-left-color: #f0efef;
    cursor: pointer;
}

.bio_btn_container .bio_btn_cancel {
    border-top-color: #f0efef;
    border-left-color: #f0efef;
    cursor: pointer;
}

.bio_btn_container .bio_btn_cancel:active,
.bio_btn_container .bio_btn_ok:active {
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: #f0efef;
    border-right-color: #f0efef;
}


/* @media screen and (width <= 500px) {
    .folder_content-bio img {
        width: 150px;
    }
    .folder_content .folder_content-bio {
        display: block;
        place-items: center;
        text-align: center;
    }
    .folder_content-bio img {
        margin: auto;
        margin-top: -.5rem;
        padding-bottom: 1rem;
    }

    .folder_content-bio h1 {
        left: 0rem;
        height: fit-content;
        margin-bottom: .5rem;

    }

    .folder_content-bio .bio_text_1 {
        padding: 0;
        padding-left: .5rem;
        text-align: left;
        margin-top: -2.1rem;
    }

    .folder_content-bio .bio_text_2 {
        display: none;
    }

    .cv_container {
        position: relative;
        margin-top: .5rem;
        bottom: 0;
        left: 0;
        top: 0;
    }

    .bio_folder {
        width: 80%;
    }
    .folder_content .folder_content-bio {
        padding: 1rem 1.5rem;
    }
} */

@media screen and (width <=500px) {
    .bio_folder {
        width: 380px;
    }

    .folder_content-bio .bio_img {
        width: 160px;
    }

    .folder_content-bio .bio_text_1 {
        left: .5rem;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-width: 0px) {
    .x {
        left: 1px;
    }
}