.vscode_window {
    position: absolute;
    width: 850px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #cccccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #3c3c3c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.vscode_main_content {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.vscode_iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #1e1e1e;
}