.vscode_window {
    position: absolute;
    width: 850px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #cccccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #3c3c3c;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.vscode_drag_bar {
    display: flex;
    position: relative;
    height: 24px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.folder_barname {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}

.folder_barname span {
    font-size: 15px;
    color: white;
}

.folder_barbtn {
    display: flex;
    align-items: center;
    margin-right: 4px;
    gap: 2px;
}

.folder_barbtn div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background: #c9c9c9;
    border: 1px solid black;
    border-top-color: #dfdfdf;
    border-left-color: #dfdfdf;
    box-shadow: inset 1px 1px #ffffff, 1px 1px #000000dd;
    cursor: default;
}

.folder_barbtn div p {
    margin: 0;
    padding: 0;
}

.folder_barbtn .x {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.folder_barbtn .dash {
    width: 8px;
    height: 2px;
    background: black;
    margin-top: 4px;
}

.folder_barbtn .expand {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-top: 2px solid black;
}

.vscode_menu_bar {
    display: flex;
    background-color: #c0c0c0;
    padding: 2px 5px;
    gap: 12px;
    border-bottom: 1px solid #808080;
    box-shadow: inset 1px 1px #dfdfdf;
    font-size: 13px;
    color: black;
    cursor: default;
}

.vscode_menu_bar span {
    padding: 2px 4px;
}

.vscode_menu_bar span:hover {
    background-color: #000080;
    color: white;
}

.vscode_main_content {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.vscode_iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #1e1e1e;
}